{% extends 'shop/basic.html' %}

{% block title %} {{prod.name}}  {% endblock %}

{% block body %}

<div class="container my-5">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src='/media/{{prod.image}}' alt="hello" style="width: 19rem; height: 19rem;">

    </div>
    </div>

    <div class="col-md-8">
        <h3>{{prod.name}}</h3>
        <p><b>Mrp Rs.{{prod.price}}</b></p>
        <p>{{prod.desc}}</p>
        <div class="row">
            <button class="btn btn-primary">Buy Now</button>
            <button class="btn btn-primary mx-2">Add to Cart</button>
        </div>
    </div>
        </div>
</div>
{% endblock %}

{% block js %}
<script>

console.log('working');
if(localStorage.getItem('Cart1') == null){
var Cart1 = {};
}
else
{
Cart1 = JSON.parse(localStorage.getItem('Cart1'));
document.getElementById('cart').innerHTML = Object.keys(Cart1).length;

}
$('.Cart1').click(function(){
console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if(Cart1[idstr] != undefined){
Cart1[idstr] = Cart1[idstr] + 1;
}
else{
Cart1[idstr] = 1;
}
console.log(Cart1);
localStorage.setItem("Cart1",JSON.stringify(Cart1));
document.getElementById('cart').innerHTML = Object.keys(Cart1).length;

});

$('#popcart').popover()

document.getElementById('popcart').setAttribute('data-content', '<h5>Fill your cart with your favourite products.</h5>');


</script>
{% endblock %}