{% extends 'shop/basic.html' %}

{% block title %} Checkout {% endblock %}

{% block body %}
<div class="container my-3">

    <div class="col">
    <h3>TRACKER -  Enter Your Details</h3>
                <form method="post" action="#" id="trackerForm">{% csrf_token %}
            <!--<input type="hidden" name="itemsJson" id="itemsJson">-->
  <div class="form-row">
       <div class="form-group col-md-6">
      <label for="orderId">Order ID</label>
      <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id">
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email"  placeholder="input@example.com">
    </div>
  </div>
                    <button type="submit" class="btn btn-primary">Track</button>
                </form>
        </div>

    <div class="col my-4">
        <h3>The UPDATE will be detailed here</h3>
         <div class="my-3">
        <!--list group from bootstrap-->
        <ul class="list-group" id="items">
            Enter order ID and email to track order.
        </ul>
         </div>
  </div>


    <div class="col my-4">
        <h3>Order Details</h3>
         <div class="my-3">
        <!--list group from bootstrap-->
        <ul class="list-group" id="citems">
            Get order details here after verifying order id and email id.
        </ul>
         </div>
  </div>
    </div>

{% endblock  %}


{% block js %}
<script>

$('#trackerForm').submit(function(event){
//console.log("hello");
  $('#items').empty();
 var formData = {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()       //prevents cross site request forgery,we send token to verify that it is us who are sending the data.
    };
     $.ajax({         //data is processed here
            type: 'POST',         //since we want to send post request
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
            .done(function(data) {     //data sent by views.py
            //console.log("hello2");
            console.log(data);                    //data is a string here
            data = JSON.parse(data);                 //now data is not a string anymore but data is an arrya now
            console.log(data);
            updates = data[0];
            if (updates.length > 0 & updates != {}) {
            for (i = 0; i < updates.length; i++) {             //updates is an array not a js object,hence we can't iterate using "in"
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                </li>`
                    $('#items').append(mystr);
                }
              }
              else{
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry.Please check Order ID and email.</li>`
                    $('#items').append(mystr);
              }

              //Fill in the order details
              $('#citems').empty();          //removing initial details
            console.log(data[1]);          //data[1] is a string
            cart=JSON.parse(data[1])        //now it is an iterable array as a 'cart'
            for(k in cart){
            let qty = cart[k][0];
            let nm = cart[k][1];
            //s=s+qty;
            str =`<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${nm}
            <span class="badge badge-primary badge-pill">${qty}</span>
           </li>`
            $('#citems').append(str);
}
        });
        event.preventDefault();    //it prevents the deafault behaviour of form to reload itself. Also we had replace the cdn
                                   //of slim(i.e. compressed) jquery we were using before with the uncompressed cdn of jquery.
});

</script>
{% endblock %}
